<div class="auth-form">
  <h2>{{ i18n.get('login.register')}}</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <label>{{ i18n.get('login.username')}}</label>
    <input type="text" formControlName="username" />

    <label>{{ i18n.get('login.password')}}</label>
    <input type="password" formControlName="password" />

    @if (message) {
      <p class="success">{{ message }}</p>
    }

    @if (errorMessage) {
      <p class="error">{{ errorMessage }}</p>
    }

    <button type="submit" [disabled]="form.invalid">{{ i18n.get('login.register')}}</button>
  </form>
</div>
